<toaster-container></toaster-container>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Özet</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Ana Sayfa</a>
            </li>
            <li class="active">
                <strong>Kategoriler</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Kategorisel Sayılar</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <table datatable="ng" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Kategori</th>
                            <th>Toplam Soru</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="c in categoryStats">
                            <td>{{c.name}}</td>
                            <td>{{c.count}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Etiketsel Sayılar</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <table datatable="ng" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Etiket</th>
                            <th>Toplam Soru</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="t in tagStats">
                            <td>{{t.name}}</td>
                            <td>{{t.count}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Zorluksal Sayılar</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <table datatable="ng" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Zorluk</th>
                            <th>Toplam Soru</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="l in levelStats">
                            <td><span ng-show="l.points == 1">Çok kolay</span><span ng-show="l.points == 2">Kolay</span><span ng-show="l.points == 3">Normal</span><span ng-show="l.points == 4">Zor</span><span ng-show="l.points == 5">Çok zor</span></td>
                            <td>{{l.count}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Kategorisel Zorluk Sayilar</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <table datatable="ng" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Kategori</th>
                            <th>Zorluk</th>
                            <th>Toplam</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="c in categoryQuestionCount">
                            <td>{{c.name}}</td>
                            <td><span ng-show="c.points == 1">Çok kolay</span><span ng-show="c.points == 2">Kolay</span><span ng-show="c.points == 3">Normal</span><span ng-show="c.points == 4">Zor</span><span ng-show="c.points == 5">Çok zor</span></td>
                            <td>{{c.count}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
