<!DOCTYPE html>
<html ng-app="soruavcisi">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page title set in pageTitle directive -->
    <title page-title></title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Font awesome -->
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Main Inspinia CSS files -->
    <link href="css/animate.css" rel="stylesheet">

    <link href="css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">

    <link href="css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/plugins/ui-select/select.min.css" rel="stylesheet">

</head>

<!-- ControllerAs syntax -->
<!-- Main controller with serveral data used in Inspinia theme on diferent view -->
<body class="skin-3" landing-scrollspy id="page-top">

    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Navigation -->
        <div ng-include="'views/common/navigation.html'"></div>

        <!-- Page wraper -->
        <!-- ng-class with current state name give you the ability to extended customization your view -->
        <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

            <!-- Page wrapper -->
            <div ng-include="'views/common/topnavbar.html'"></div>

            <!-- Main view  -->
            <div ng-view></div>

            <!-- Footer -->
            <div ng-include="'views/common/footer.html'"></div>

        </div>
        <!-- End page wrapper-->

        <!-- Right Sidebar -->
        <div ng-include="'views/common/right_sidebar.html'"></div>

    </div>
    <!-- End wrapper-->

    <script src="js/jquery/jquery-2.1.1.min.js"></script>
    <script src="js/plugins/jquery-ui/jquery-ui.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="js/plugins/iCheck/icheck.min.js"></script>
    <script src="js/plugins/pace/pace.min.js"></script>
    <script src="js/inspinia.js"></script>

    <!-- Main Angular scripts-->
    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular/angular-sanitize.js"></script>
    <script src="js/plugins/chosen/chosen.jquery.js"></script>
    <script src="js/plugins/chosen/chosen.js"></script>
    <script src="js/plugins/angular-route/angular-route.js"></script>
    <script src="js/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="js/plugins/toastr/toastr.min.js"></script>
    <script src="js/plugins/ui-select/select.min.js"></script>
    <script src="js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="js/plugins/dataTables/angular-datatables.min.js"></script>

    <!-- Anglar App Script -->
    <script src="js/app.js"></script>

    <!-- Anglar App Directives -->
    <script src="js/directives.js"></script>
    <!-- Anglar App Controllers -->

    <script src="js/controllers/question/questionController.js"></script>
    <script src="js/controllers/category/categoryController.js"></script>
    <script src="js/controllers/tag/tagController.js"></script>
    <script src="js/controllers/user/userController.js"></script>
    <script src="js/controllers/dashboard/dashboardController.js"></script>

    <!-- Angular App Services -->
    <script src="js/services/restService.js"></script>
    <script src="js/services/questionService.js"></script>
    <script src="js/services/categoryService.js"></script>
    <script src="js/services/tagService.js"></script>
    <script src="js/services/userService.js"></script>
    <script src="js/services/commonService.js"></script>
    <script src="js/services/errorService.js"></script>
</body>
</html>
