<toaster-container></toaster-container>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Kategoriler</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Ana Sayfa</a>
            </li>
            <li class="active">
                <strong>Kategoriler</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Tüm Kategoriler</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <table datatable="ng" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Kategori</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="c in categories">
                            <td>{{ c.name }}</td>
                            <td>
                                <!--<button class="btn btn-xs btn-warning">Aktifle</button>
                                <button class="btn btn-xs btn-warning">Deaktifle</button>-->
                                <a class="btn btn-xs btn-primary" ng-href="#/kategori/{{c.id}}">Güncelle</a>
                                <!--<button class="btn btn-xs btn-danger">Sil</button>-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
