<toaster-container></toaster-container>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Oyuncular</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Ana Sayfa</a>
            </li>
            <li class="active">
                <strong>Oyuncular</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Tüm Oyuncular</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <table datatable="ng" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Isim</th>
                            <th>Kullanıcı Adı</th>
                            <th>Email</th>
                            <th>Kategoriler</th>
                            <th>Puan</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="u in users">
                            <td>{{u.id}}</td>
                            <td>{{u.fullname}}</td>
                            <td>{{u.username}}</td>
                            <td>{{u.email}}</td>
                            <td><span ng-repeat="c in u.categories">{{c}} {{$last ? '' : ($index==u.categories.length-2) ? ' ve ' : ', '}}</span></td>
                            <td>{{u.points}}</td>
                            <!--<td>
                                <button class="btn btn-xs btn-warning">Aktifle</button>
                                <button class="btn btn-xs btn-warning">Deaktifle</button>
                                <a class="btn btn-xs btn-primary" ng-href="#/oyuncu/{{u.id}}">Güncelle</a>
                                <button class="btn btn-xs btn-danger">Sil</button>
                            </td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
