<toaster-container></toaster-container>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Sorular</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Ana Sayfa</a>
            </li>
            <li class="active">
                <strong>Yeni Soru</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Yeni Soru</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" ng-submit="applyQuestion()">
                        <div class="form-group"><label class="col-sm-2 control-label">Soru</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="q.question">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Zorluk Seviyesi <br/>
                                <small class="text-navy">Kendisi şekil alır</small>
                            </label>
                            <div class="col-sm-10">
                                <div>
                                    <label> <input icheck type="radio" name="radioLevel" ng-model="q.points" value="1"> Çok kolay </label>
                                </div>
                                <div>
                                    <label> <input icheck type="radio" name="radioLevel" ng-model="q.points" value="2"> Kolay </label>
                                </div>
                                <div>
                                    <label> <input icheck type="radio" name="radioLevel" ng-model="q.points" value="3"> Normal </label>
                                </div>
                                <div>
                                    <label> <input icheck type="radio" name="radioLevel" ng-model="q.points" value="4"> Zor </label>
                                </div>
                                <div>
                                    <label> <input icheck type="radio" name="radioLevel" ng-model="q.points" value="5"> Çok zor </label>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Kategoriler</label>
                            <div class="col-sm-10">
                                <select multiple chosen class="chosen-select" style="width:550px;" tabindex="4" ng-model="selectedCategories" ng-options="category as category.name for category in categories track by category.id">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Etiketler</label>
                            <div class="col-sm-10">
                                <select multiple chosen class="chosen-select" style="width:550px;" tabindex="4" ng-model="selectedTags" ng-options="tag as tag.name for tag in tags track by tag.id">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Cevaplar <br/>
                            <small class="text-navy">Doğru şıkkı işaretleyin</small></label>

                            <div class="col-sm-10">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">
                                        <input type="radio" name="radioAnswer" ng-model="isCorrectAnswer" value="1">
                                    </span>
                                    <input type="text" ng-model="answerOne" class="form-control">
                                </div>
                                <div class="input-group m-b">
                                    <span class="input-group-addon">
                                        <input type="radio" name="radioAnswer" ng-model="isCorrectAnswer" value="2">
                                    </span>
                                    <input type="text" ng-model="answerTwo" class="form-control">
                                </div>
                                <div class="input-group m-b">
                                    <span class="input-group-addon">
                                        <input type="radio" name="radioAnswer" ng-model="isCorrectAnswer" value="3">
                                    </span>
                                    <input type="text" ng-model="answerThree" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Resim</label>
                            <div class="col-sm-4">
                            <!-- Sadece ismini al fotografin ve sunucuya gonder oncesinde ise save et sunucuya -->
                            <input type="file" file-model="myFile" onchange="angular.element(this).scope().imageChanged(this)"/>
                            <img ng-src="{{uploadedImageSrc}}" width="100" style="margin-top: 10px;" />
                        </div>
                            <div class="col-sm-2">
                                <button class="btn btn-primary" ng-click="uploadImage()">Gönder</button>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Yazan</label>
                            <div class="col-sm-10">
                                <div>
                                    <select class="form-control m-b" name="author" ng-model="q.author">
                                        <option value="Mert Berktaş">Mert Berktaş</option>
                                        <option value="Yağız Öztürk">Yağız Öztürk</option>
                                        <option value="Gökçe Yücel">Gökçe Yücel</option>
                                        <option value="Okan Yücel">Okan Yücel</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Aktif</label>
                            <div class="col-sm-10">
                                <div><label><input icheck type="checkbox" ng-model="q.active"></label></div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">Kaydet</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>