<div class="footer">
    <div class="pull-right">
        destek için <strong>destek@goril.io</strong>
    </div>
    <div>
        <strong>Copyright</strong> goril.io &copy; 2015-2016
    </div>
</div>
